body{
    height:auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.app{
    background-color: aliceblue;
    height: auto;
}
.classa{
    color: white !important;
}
.overflow-hidden {
    overflow: hidden;
}
.header{
    height: 88px;
    background-color: #fe0000;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.header__navbar__list{
    list-style: none;
    display: flex;
    position: absolute;
    color: white;
    align-items: center;
    white-space: nowrap;
    grid-template-columns:auto auto; 
    column-gap: 20px;
    font-size: 13px;
    margin-top: 13px;
}
.header__navbar__logo{
    width: 40px; 
    padding-top: 15px;
    width: 25%;
    cursor: pointer;
    display: inline;
}
.header__navbar__located{
    display:flex;
    width: 140px;
    margin-top: 12px;
    cursor: pointer;
}
.fa-location-dot{
    font-size: 30px !important;
}
.fa-cart-shopping,
.fa-clock-rotate-left,
.fa-user,
.fa-phone-volume{
    font-size: 23px;
}
.header__navbar__located__point{
    font-size: 25px;
    margin-top: 5px;
    margin-right: 10px;
}
.header__navbar__located__TP{
    font-size: 14px;
    height: 20px;
    cursor: pointer;
}

.header__navbar__ordertracking__content{
    width: 65px;
    height: 40px;
    text-align: left;
}
.header__navbar__find{
    display: flex;
}
.header__cart{
    align-items: center;
}
.header__navbar__find,
.header__navbar__findlocated{
    width: 288px;
    border-radius: 15px;
    height: 40px;
    background-color: white;
}
.header__navbar__find__input{
    border:0;
    border-radius: 15px 0 0 15px ;
    color: black;
    padding-right: 70px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar__find__input input{
    outline: none;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}
#popup-find-all{
    background-color: rgba(0,0,0,0.3);
    height: 200vh;
    width: 140vw;
    position: absolute;
    top:75px;
    z-index: 11;
    display: none;
    justify-content: center;
}
.danhmuc-timkiem{
    height: 450px;
    width: 1200px;
    background-color: white;
    display: flex;
    border-radius:0 0 10px 10px;
}
.danhmuc-timkiem1{
    width: 33%;
    height: 450px;
    background-color: #ffffff;
    border-right: 1px rgba(0,0,0,0.1) solid;
    border-radius:0 0 10px 10px;
}
.danhmuc-timkiem1_title{
   height: auto;
   width: 100%;
   margin: 13px 0 13px 0;

}
.danhmuc-timkiem1_title h2{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 550;
}
.danhmuc-timkiem1_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.danhmuc-timkiem1_list li{
    list-style: none;
    height: 30px;
    width: auto;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 30%;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.danhmuc-timkiem1_list li:hover{
    background-color: #fe0000;
}
.danhmuc-timkiem1_list li:hover a{
    color: #ffffff !important;
}
.danhmuc-timkiem1_list-product{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.danhmuc-timkiem1_list-product li{
    list-style: none;
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    display: flex;
    margin: 5px;
}
.danhmuc-timkiem1_list-product_left{
    width: 20%;
    height: 100%;
    margin: 4px 0 0 4px;
}
.danhmuc-timkiem1_list-product_left img{
    width: 90%;
    height: 90%;
    transition: transform 0.3s ease;
}
.danhmuc-timkiem1_list-product_left img:hover{
    transform: scale(1.05);
}
.danhmuc-timkiem1_list-product_right{
    width: 80%;
    height: 80%;
    padding-left: 10px;
}
.danhmuc-timkiem1_list-product_right_tensp{
    font-size: 15px;
    width: 100%;
    height: 50%;
    margin-top: 3px;
    white-space: wrap;
}
.danhmuc-timkiem1_list-product_right_gia{
    font-size: 15px;
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 20px;
}
.giamgia{
    background-color: #fe0000;
    color: white;
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 40%;
    top:-75px;
    left: 43px;
}
.font-14px{
    font-size: 14px;
}
.danhmuc-timkiem1_content{
    height: auto;
    width: 100%;
    background-color: #ffffff;
}
.danhmuc-timkiem1_content_product{
    height: auto;
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    padding: 0;
}
.danhmuc-timkiem1_content_product li{
    list-style: none;
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    display: flex;
    margin: 5px;
}
.danhmuc-timkiem1_content_product_left{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.danhmuc-timkiem1_content_product_right{
    width: 80%;
    white-space:wrap;
    height: 100%;
    font-size: 17px;
    margin-left: 10px;
}
.danhmuc-timkiem1_content_product_left img{
    width: 100%;
    height: 95%;
    transition: transform 0.3s ease;
}
.danhmuc-timkiem1_content_product_left img:hover{
    transform: scale(1.05);
}






.header__navbar__findlocated__input{
    height: 40px;
    width: 410px;
    padding: 0;
    border: none;
    outline: none;
}
.header__navbar__find__seach{
    color: black;
    width: 23px;
    height: 23px;
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
    column-width: -1000px;
}
.header__navbar__find button{
    background-color: white;
    border: 0;
    outline: none;
    border-radius: 0 15px 15px 0;
}
.header__navbar__find button i{
    font-size: 20px;
    margin-bottom: 10px;
}
.header_findlocated__boder{
    border-radius: 5px;
    background-color: white;
    width: 480px;
    height: 45px;
    justify-content: center;
    align-items: center;
    padding-right: 0;
}
.choose-btn,
.choose-btn:focus{
    outline: none;
    border: 0;
    padding-left: 0;
    background-color: #fe0000;
    color: white;
}
.popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 11;
}
.popup_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.popup_find-locate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_title button{
    border: 0;
    outline: none;
    background-color: #FFFFFF;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}
.popup_find-locate div{
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 5px;
}
.popup_find-locate input{
    width: 85%;
    height: 35px;
    border: 0;
}
.popup_find-locate input:focus,
.popup_find-locate button{
    outline: none;
}
.popup_find-locate button{
    height: 35px;
    border: 0;
    background-color: #FFFFFF;
}
.header__navbar__located__address__content{
    width: 505px;
    height: 505px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px;
}
.popup_locate{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    background-color: #FFFFFF;
    height: 391px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.popup_locate button{
    height: 40px;
    width: 47%;
    background-color: #FFFFFF;
    text-align: left;
    border: 0;
    border-bottom:1px rgba(0,0,0,0.1) solid;
    margin-left: 10px;
    cursor: pointer;
}

.popup_locate button:focus,
.popup_locate button:hover{
    background-color: #fbe8ea;
    outline: none;
}


.header__cart{
    cursor: pointer;
}
.header__cart__cartshopping{
    margin-left: 7px;
}
.header__navbar__ordertracking{
    display: flex;
    margin-top: 12px;
    cursor: pointer;
}
.header__navbar__ordertracking__clock{
    margin-top: 8px;
    margin-right: 7px;
}
.header__navbar__located__content{
    width: 65px;
    height: 40px;
    text-align: left;
}
.header__navbar__hotline{
    display: flex;
    margin-top: 12px;
}
.header__navbar__hotline__phone{
    margin-top: 8px;
    margin-right: 7px;
}
.header__navbar__hotline__content{
    width: 65px;
    height: 40px;
    text-align: left;
}
.header__navbar__account{
    cursor: pointer;
}
.header__navbar__account__icon{
    margin-right: 7px;
}


/* phan than */
a{
    text-decoration: none;
    color: black;
}

.container__category{
    display: flex;
    justify-content: center;
    padding-top: 0;
    height: 520px;
}

.container__category__left{
   padding: 0;
   cursor: pointer;
   height: 380px;
}
.container__category__left__title{
    list-style: none;
    font-size: 13px;
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    height: 530px;
}
.container__category__right__list{
    display: flex;
    list-style: none;
    font-size: 15px;
    align-items: center;
    white-space: nowrap;
    grid-template-columns:auto auto; 
    column-gap: 20px;
    cursor: pointer;
}
.container__category__left__title__fist{
    border: 0;
    border-radius: 5px 5px 0px 0px;
}
.container__category__left__title__fist__icon{
    margin-right: 7px;
}
.container__category__left__title__fist{
    background-color: #413b49;
    color: white;
    height: 46px;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 15px;
}
.container__category__left__title__fist__content{
    font-weight: 800;
}
.container__category__left__title__list{
    background-color: whitesmoke;
    padding-bottom: 9px;
    padding-left: 9px;
    font-size: 18px;
}
.container__category__right__top{
    height: 46px;
    width: 1055px;
    padding-top: 0;
}
.container__category__right__list{
    padding-left: 0;
    margin: 5px;
}
.container__category__right__list__content__icon{
    color: #fe0000;
    margin-top: 7px;
    font-size: 30px;
}
.container__category__right__list__content,
.container__category__right__list__content--fist{
    display: flex;
    padding-left: 20px;
    justify-items: center;
    align-items: center;
}
.container__category__right__list__content--fist{
    padding-left: 10px;
}
.container__category__right__list__content__word{
    margin-left: 20px;
    margin-top: 6px;
}
.fist{
    padding-top: 7px;
}
.container__category__right__list__content:hover a{
    color: #fe0000 !important;
}
.changecolor{
    color:rgba(0,0,0,0.7);
    font-weight: 400;
}
.changecolor a{
    color:rgba(0,0,0,0.7) !important;
    font-weight: 400;
}
.changecolor:hover{
    color: blue !important;
}
.changecolor a:hover{
    color: blue !important;
}
.submenu1{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -33px;
    display: none;
    font-size: 11px;
    z-index: 10;
}
.submenu2{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -69px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu3{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -105px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu4{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -141px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu5{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -177px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu6{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -213px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu7{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -249px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu8{
    position: absolute;
    background-color:white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -285px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu9{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -321px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu10{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -357px;
    display: none;
    font-size: 11px;
    z-index: 10;

}
.submenu11{
    position: absolute;
    background-color:white;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -393px;
    display: none;
    font-size: 11px;
    z-index: 10;
}
.submenu12{
    position: absolute;
    background-color: red;
    width: 770px;
    height: 472px;
    margin-left:298px;
    margin-top: -429px;
    display: none;
    z-index: 10;
    font-size: 11px;
}
.container__category__left__title li:hover .submenu1{
    display: flex;
}
.container__category__left__title li:hover .submenu2{
    display: flex;
}
 .container__category__left__title li:hover .submenu3{
    display: flex;
}
 .container__category__left__title li:hover .submenu4{
    display: flex;
}
 .container__category__left__title li:hover .submenu5{
    display: flex;
}
 .container__category__left__title li:hover .submenu6{
    display: flex;
}
 .container__category__left__title li:hover .submenu7{
    display: flex;
}
 .container__category__left__title li:hover .submenu8{
    display: flex;
}
 .container__category__left__title li:hover .submenu9{
    display: flex;
}
.container__category__left__title li:hover .submenu10{
    display: flex;
}
 .container__category__left__title li:hover .submenu11{
    display: flex;
}
 .container__category__left__title li:hover .submenu12{
    display: flex;
}

.submenu_one{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_two{
    width: 154px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_left{
    width: 385px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_right{
    width: 385px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_three{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_four{
    width: 154px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_five{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_title{
    list-style: none;
    font-weight: 600;
    padding-left: 10px;
}
ul .submenu_content{
   list-style: none; 
   padding-left: 8px;
}
ul .submenu_content li {
    list-style: none;
    padding-left: 25px;
    background-image: url('chamdaudong.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px 10px;
}

.submenu_one ul li{
    padding-top:10px ;
}
.submenu_one ul li a:hover{
    color: #70affd !important;
}
.submenu_two ul li{
    padding-top:12px ;
}
.submenu_two ul li a:hover{
    color: #70affd !important;
}
.submenu_three ul li{
    padding-top:12px ;
}
.submenu_three ul li a:hover{
    color: #70affd !important;
}
.submenu_four ul li{
    padding-top:12px ;
}
.submenu_four ul li a:hover{
    color: #70affd !important;
}
.submenu_five ul li{
    padding-top:12px ;
}
.submenu_five ul li a:hover{
    color: #70affd !important;
}
.submenu_left ul li{
    padding-top:12px ;
}
.submenu_left ul li a:hover{
    color: #70affd !important;
}
.submenu_right ul li{
    padding-top:12px ;
}
.submenu_right ul li a:hover{
    color: #70affd !important;
}
/* slide */
.container__category__right__bottom{
    height: 475px;
    width: 1000px;
    background-color: white;
    display: flex;
    position: relative;
    z-index: 9;
}
.slidebig{
    height: 475px;
    width: 690px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.slidebig_top{
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.3s ease;
}
ul{
    list-style: none;
}
.slidebig_bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slidebig_bottom ul li{
    background-color: #888;
    padding: 5px;
    border-radius: 10px;
    margin:0 10px 0 10px;
    display: none;
}
.slidebig img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    position: absolute;
}
.slidebig-btn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.slidebig-btn-left,
.slidebig-btn-right{
    font-size: 25px;
    padding: 7px;
    background-color: #ffffff;
    border-radius: 50%;
}
.slidebig a:nth-child(2) img{
    transform: translateX(100%);
}
.slidebig a:nth-child(3) img{
    transform: translateX(200%);
}
.slidebig a:nth-child(4) img{
    transform: translateX(300%);
}
.slidebig a:nth-child(5) img{
    transform: translateX(400%);
}
.slidebig a:nth-child(6) img{
    transform: translateX(500%);
}
.slidebig a:nth-child(7) img{
    transform: translateX(600%);
}









.slidesmall{
    display: inline-block;
    height: 445px;
    width: 312px;
    background-color: white;
}
.slidesmall_top{
    width: 96%;
    height: 46%;
    background-color:white;
    margin: 4% 2%;
}
.slidesmall_bottom{
    width: 97%;
    height: 47%;
    background-color: white;
    margin: 3% 1.5%;
}
.slidesmall_top img,
.slidesmall_bottom img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.w-100{
    height: 430px !important;
}
.carousel-indicators{
    bottom: -30px;
}
.carousel-indicators li{
    height: 9px;
    width: 9px;
    margin: 0 5px;
    border-radius: 7px;
    background-color: #D4D7D9;
}
.carousel-indicators .active{
    background-color: #FF6B00;
}
a{
    color: black !important;
    text-decoration: none !important;
}


.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    height: auto;   
}
.container__outstanding{
    height: 940px;
    width: 1300px;
    background-color: #f5f6f8;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
    border: 1px rgba(0,0,0,0.1) solid;
}
.container__outstanding .item{
    margin: 5px;
}
/* top san pham noi bat */
.outstanding_baner-img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.items{
    display: flex;
    width: 1300px;
    height: 250px;
    background-color: #f5f6f8;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.item_mini{
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 420px;
    flex-wrap: wrap;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 20px;
}
.item_mini img{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
}
.item_mini img:hover{
    margin-top: 10px;
}
.item_mini-font{
    font-size: 20px;
    margin-left: 20px;
}
.item_mini h3{
    margin-left: 20px;
    margin-top: 10px;
}
.giam50,
.giam59{
    background-color: #fe0000;
    color: white;
    border: 0;
    border-radius: 3px;
}
.khuyenmai{
    width: 200px;
    height: 61px;
    font-size: 15px;
    margin-left: 20px;
    border: 2px red solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* deal ngon */
.container__deal-very{
    height: 500px;
    width: 1300px;
    background-color:#ffffff;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}
.container__deal-very_banner{
    width: 1300px;
    background:linear-gradient(0deg,#bb0015,#e7001a 100%,#d70018 0,#d70018 0,#fff 0);
    height: 75px;
    border-radius: 15px 15px 0px 0px;
}
.deal-very_banner_left{
    width: 485px;
    height: 75px;
    float: left;
    display: flex;
    color: #FFFFFF ;
}
.deal-very_banner_left-one{
    font-weight: 800;
    margin-left: 10px;
    font-size: 25px;
}
.deal-very_banner_left-two{
    font-size: 50px;
    rotate: 12deg;
    color: yellow;
    margin: 10px;
}
.deal-very_banner_left-three{
    font-weight: 800;
    font-size: 30px;
    float:right;
    margin-top: 30px;
}
.container__deal-very_item{
    height: 405px;
    width: 1300px;
    display: flex;
    padding-top: 10px;
    background-color: #ffffff;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
/* them vao */
.slide-sanpham{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease;

}
.sanpham-khoi5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.button-next-prev{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 10px;
    border-radius: 50%;
    background-color: #888;
    color: white;
    font-size: 25px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.btn-left{
    left: 0;
}
.btn-right{
    right: 0;
}
.item{
    margin:0 5px;
}
.sanpham-khoi5:nth-child(2){
    transform: translateX(100%);
}
.sanpham-khoi5:nth-child(3){
    transform: translateX(200%);
}
.soluotban{
    margin-top: 25px;
    margin-left: 30px;
    height: 15px;
    width: 150px;
    border: 0;
    border-radius: 7px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* uu dai noi bat */
.container__endow{
    height: auto;
    width: 1300px;
    background-color: white;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}
.endow_content{
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.uudai{
    width: 100%;
    height: 210px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.uudai-top{
    background-color: white;
    height: 250px;
    width: 100%;
}
.uudai-hinhanh{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease;
}
.uudai-hinhanh-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.uudai-hinhanh-3 img{
    width: 33%;
    margin: 0 2px;
    height:99%;
}
.uudai-hinhanh-3:nth-child(2){
    transform: translateX(100%);
}
.uudai-hinhanh-3:nth-child(3){
    transform: translateX(200%);
}



.uudai  div .item{
    width: 400px;
    height: 200px;
}
.uudai div .item img{
    width: 100%;
    height: 100%;
}
.uudai-top h3{
    padding-left: 10px;
    padding-top: 10px;
}
.uudai-bottom{
    background-color: white;
    height: 250px;
    width: 100%;
    border-radius: 15px;
}
.uudai-bottom h3{
    padding-left: 10px;
    padding-top: 10px;
}






/* top ban chay */
.container__top-sell-well{
    height: 990px;
    width: 1300px;
    background-color: #f5f6f8;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}
.container__top-sell-well .item{
    margin: 5px;
}
.baner_danhmuc{
    background-color: #f5f6f8;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.baner_danhmuc-items{
    display: flex;
    height: 47px;
    width: 7%;
    margin-left: 1.1%;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}
.baner_danhmuc-items a{
    color: rgba(0,0,0,0.8) !important;
}
.baner_danhmuc-items:hover{
    background-color: #fe0000;
    color: white;
}
.baner_danhmuc-items:hover a{
    color: #FFFFFF !important;
}
/* test slide */
.owl-theme{
    width: 100%;
    height: 90%;
    background-color: #ffffff;
}
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.owl-prev, .owl-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white !important;
    background-color:#999999 !important;
    padding: 10px;
    border-radius: 32px !important;
    font-size: 18px;
    cursor: pointer;
}
.owl-prev {
    position: absolute;
    left: -30px;
}
.owl-next {
    position: absolute;
    right: -30px;
}
.owl-prev, .owl-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px; 
    border-radius: 50%;
    font-size: 40px; 
    cursor: pointer;
    width: 32px; 
    height: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
    top:-60px
}
.owl-prev {
    position: absolute;
    left: 10px;
}
.owl-next {
    position: absolute;
    right: 10px;
}
.owl-prev span,
.owl-next span{
    font-size: 20px;
}
/* end slide */
/* itemscaiquat */
.item {
    background-color:#ffffff;
    height: 405px;
    width: 250px;
    border-radius: 10px;
}
.itemscaiquat{
    width: 100%;
    height: 410px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px #88888863 solid;
}
.imgitemscaiquat{
    padding-top: 10px;
    width: 98%;
    height: 60%;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgitemscaiquat img{
    width: 70% !important;
    height:80%;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.imgitemscaiquat img:hover{
    transform: translateY(-5px);
}
.thongsocaiquat{
    height: 25%;
    width: 100%;
    background-color: #ffffff;
}
.thongsocaiquat h3{
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}
.thongsocaiquat h4{
    margin-left: 5px;
}
.color_red{
    color: #fe0000;
    font-weight: 600;
}
.modidel{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.thongsocaiquat h5{
    margin-left: 5px;
    font-size: 14px;
    display: none;
}
.thongsocaiquat h3:hover{
    color: #fe0000;
}
.sosanhcaiquat{
    background-color: #ffffff;
    height: 8%;
    width: 100%;
    font-size: 14px;
    display: none;
}
.sosanhcaiquat h4{
    margin-left: 5px;
    color: #70affd;
    border-radius: 10px;
}
.magiamgia{
    background-color:#ffffff;
    height: 50px;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:5px #fe0000 solid;
    border-radius:10px;
    margin-left: 5px;
    border-bottom: 1px #888 solid;
    border-top: 1px #888 solid;
    border-right: 1px #88888855 solid;
}
.magiamgia_content{
    width: 85%;
    height: 80%;
    font-size: 14px;color: #888888d2;
    background-color: #ffffff;
}
/* thong tin huu ich */
.container__useful-information{
    height: 540px;
    width: 1300px;
    background-color: white;
    display: block;
    border-radius: 15px;
    margin-top: 10px;   
}
.banner_inf{
    width: 100%;
    height: 75px;
    background:linear-gradient(0deg,#bb0015,#e7001a 100%,#d70018 0,#d70018 0,#fff 0);
    border-radius: 15px 15px 0px 0px;
    display: flex;
}
.banner-inf_left{
    height: 100%;
    width: 1050px;
    background:linear-gradient(0deg,#bb0015,#e7001a 100%,#d70018 0,#d70018 0,#fff 0);
    font-size: 30px;
    font-weight: 600;
    color: white;
    border-radius: 15px 15px 0px 0px;
}
.banner-inf_left span{
    float: right;
    margin-top: 14px;
    margin-right: 10px;
    
}
.banner-inf_right{
    height: 100%;
    width: 350px;
    background:linear-gradient(0deg,#bb0015,#e7001a 100%,#d70018 0,#d70018 0,#fff 0);
    font-size: 23px;
    font-weight: 600;
    color: white;
    border-radius: 15px 15px 0px 0px;
}
.banner-inf_right a span{
    margin-right: 20px;
    float: right ;
    margin-top: 20px;
    color: white;
}
.content_inf{
    height: 450px;
    width: 100%;
    background-color:white;
    display: flex;
}
.content_inf-left{
    padding: 40px 20px;
    width: 50%;
    height: 100%;
}
.content_inf-left img{
    margin-bottom: 10px;
    border-radius: 10px;
    width: 611px;
}
.content_inf-left h3{
    font-size: 20px;
    font-weight: 550;
}
.content_inf-left span{
    color: rgba(0,0,0,0.6);
}
.content_inf-right{
    width: 50%;
    height: 100%;
    background-color: white;
}
.content_inf-right-item{
    padding-top: 40px;
    display: flex;
}
.content_inf-right-item div{
    margin-left: 13px;
    font-size: 15px;
}
/* san pham da xem */
.container__watched{
    height: auto;
    width: 1300px;
    background-color: #f5f6f8;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}
.watched_banner{
    width: 100%;
    height: 75px;
    background:linear-gradient(0deg,#bb0015,#e7001a 100%,#d70018 0,#d70018 0,#fff 0);
    color: white;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}
.watched_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
    



/* danh muc noi bat */
.container__category-outstanding{
    height: auto;
    margin-bottom: 20px;
    width: 1300px;
    background-color:#f5f6f8;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}
.category-outstanding_content{
    height: 470px;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    gap: 0;
    display: flex;
    padding: 20px 10px;
    border-radius: 15px;
}
.outstanding_content_items{
    display: inline-block;
    background-color: white;
    height: 190px;
    width: 120px;
    margin: 0 3px;
    padding: 0;
}
.outstanding_content_items-img{
    height: 122px;
    width: 100%;
    background-color: #f1f1f1;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outstanding_content_items-img img{
    height: 50%;
    width: 50%;
}
.outstanding_content_items-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 19px;
    text-align: center;
}




.email_uudai{
    height: 76px;
    width: 1300px;
    background-color: aliceblue;
    display: flex;
}
.email_uudai_left{
    width: 30%;
    margin-top: -10px;
}
.email_uudai ul{
    list-style: none;
    display: flex;
    padding-left:10px ;
}
.email_uudai ul li{
    margin-top: 17px;
    margin-right: 30px;
}
li .icon_fb-ytb-zl{
    height: 40px;
    display: inline-block;
}
.email_uudai_mid{
   display: flex;
   margin-top: 20px; 
}
.content_email_mid-icon{
    margin-right: 20px;
    font-size: 32px;
    margin-top: -5px;
}
.content_email_mid{
   font-size: 14px;
   margin-top: -4px;
}
.content_email_right{
    height: 76px;
    margin-left: 90px;
    margin-top: 20px;
    display: flex;
}
.content_email_right-input{
    height: 35px;
    width: 300px;
    border-radius: 5px;
}
.content_email_right-input input{
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border:thick;
}
.content_email_right-input input:focus{
    outline: none;
    border: 1px orange solid;
}
.content_email_right-button{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border:thick;
    color:white ;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    background-color: #41B948;
}
.content_email_right-button:focus{
    outline: none;
}
.content_email_right-input div{
    color: red;
    display: none;
}
/* thong tin lien he */
.contact_info{
    height:780px;
    width: 1300px;
    background-color: white;
    display: block;
    border-radius: 15px;
    margin-top: 0px;
}
.contact_info_top{
    width: 1300px;
    height: 243px;
    display: flex;
}
.contact_info_top-title{
    width: 20%;
    background-color: white;
    padding: 20px;
    font-size: 12px;
    height: 200px;
}
.contact_info_top-title li{
    list-style: none;
}
.contact_info_top-title-list{
    padding: 0;
}
.contact_info_top-title-b{
    font-weight: 550;
    font-size: 14px;
}
.contact_info_top-title-list li{
    font-weight: 400;
}
.contact_info_bottom{
    height: 560px;
    width: 1300px;
    background-color: white;
}
.contact_info_bottom-top{
    height: 40px;
    width: 1300px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
}
.contact_info_bottom-end{
    width: 1300px;
    height: 520px;
    background-color: white;
    display: flex;
}
.contact_info_bottom-end_list{
    width: 20%;
    height: 520px;
    background-color: white;
}

.list{
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding:5px 10px;
}
.list h2{
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    padding: 0;
}
/* phan quoang cao cuoi trang */
.footer_end{
    height: 250px;
    width: 100vw;
    background-color:white;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}
.footer_end_nav-img{
    background-color: black;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_end_nav-img img{
    width: 120px;
    height: 60px;
    display: inline-block;
}
.footer_end-container{
    height: 80px;
    width: 100vw;
    font-size: 15px;
    margin-top: 9px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.footer_end-container-left{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-mid{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-right{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-mid img,
.footer_end-container-right img{
    height: 37px;
}
.foot-end{
    justify-content: center;
    align-items: center;
}
.content-end{
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer__hotline{
    display: inline-block;
    padding: 0;
    color: #FFFFFF;
    border: 0;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    background-color:#fe0000;
    box-shadow: 0 0 5px #888;
    white-space: nowrap;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.9em;
    z-index: 10;
    text-align: left;
    width: 259px;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 1;
    position: fixed;     
    bottom: 10px;       
    right: 10px;       
    width: 280px;
    height: 80px;
    display: flex;
    padding: 10px;
}
.footer_hotline_left{
    width: 85%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_hotline_right{
    width: 80px;
    height: 80px;  
    display: flex;
    margin-top:-10px;
    margin-right: -10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.footer_hotline_right i{
    font-size: 40px;
    color: #fe0000;
}
