.container__form {
    padding: 32px 48px;
    text-align: center;
    width: 600px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}
.container__form__ul{
    display: flex;
    margin-top: 0;
    padding-left: 0px;
}
.container__form__list{
    display: flex;
    padding: 0;
    width: 50%;
    height: 42px;
    list-style: none;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.container__form__list__signIn{
    color: #ed3324;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 8px 16px;
    font-weight: bolder;
    border-bottom: 2px solid #ed3324;
}
.container__form__list__signUp{
    color: #3f3f3f;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 8px 16px;
}
.container__form__signIn{
    height: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.container__form__signIn__list{
    display: flex;
    justify-content: space-between;
}
.container__form__signIn__link{
    color: rgb(63, 63, 63);
    font-size: 14px;
}
.container__form__text{
    width: 100%;
    min-height: 42px;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition:   .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 14.4px;
}
.container__form__button{
    background-color: #ed3324;
    width: 100%;
    padding: 19.2px;
    border: 0;
    border-radius: 4px;
    font-size: 19.2px;
    line-height: 28.8px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.container__form__img{
    width: 15px;
    margin-left: 16px;
}
.container__form__or{
    width: 100%;
    height: 72px;
    padding: 24px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.container__form__or__after{
    padding: 0px 64px;
    z-index: 1;
    color: #212529;
    position: absolute;
    background-color: white;
}
.container__form__or__line{
    width: 100%;
    height: 4px;
    border-top: 1px solid rgb(206, 212, 218);
    border-bottom: 1px solid rgb(206, 212, 218);
    z-index: -1;
    box-sizing: border-box;
}
.container__form__facebook{
    display: block;
    width: 100%;
    height: 64px;
    background-color: rgb(59, 89, 152);
    box-sizing: border-box;
    padding: 8px 32px;
    color: #f4f4f4;
    margin-bottom: 25.6px;
    border-radius: 4px;
    text-align: left;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.container__form__facebook__img{
    margin-right: 25.6px;
    height: 30px;
}
.container__form__google{
    display: block;
    width: 100%;
    height: 64px;
    background-color: rgb(63, 129, 249);
    box-sizing: border-box;
    padding: 8px 32px;
    color: #f4f4f4;
    border-radius: 4px;
    text-align: left;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.container__form__box{
    color: #f4f4f4;
    display: flex;
    font-size: 16px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;
    min-height: calc(100vh - 113px);
    padding: 64px 0px;
    box-sizing: border-box;
}
.container__banner{
    height: 63px;
    width: 100%;
    background-color: #ec2127;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    box-sizing: border-box;
}
.container__banner__img{
    width: 242px;
    margin-left: auto;
    margin-right: 20px;
}
.container__banner__link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: all .3s ease;
}
.container__bottom{
    height: 72px;
    width: 100%;
    padding: 24px 0px;
    background-color: #e3e7e8;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    color: #3f3f3f;
}
.container__bottom__hotline{
    color: red;
    text-decoration: none;
    font-weight: bold;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}