body{
    height:auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    }
.app{
    background-color: aliceblue;
    height: auto;
}
.colorred{
    color: red;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    height: auto;
    width: 1160px;
}
.header{
    height: 88px;
    background-color: #fe0000;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.header__navbar__list{
    list-style: none;
    display: flex;
    position: absolute;
    color: white;
    align-items: center;
    white-space: nowrap;
    grid-template-columns:auto auto; 
    column-gap: 20px;
    font-size: 13px;
    margin-top: 10px;
}
.header__navbar__logo{
    width: 40px; 
    padding-top: 15px;
    width: 25%;
    cursor: pointer;
    display: inline;
}
.header__navbar__located{
    display:flex;
    width: 140px;
    margin-top: 12px;
    cursor: pointer;
}
.header__navbar__located__point{
    font-size: 25px;
    margin-top: 5px;
    margin-right: 10px;
}
.header__navbar__located__TP{
    font-size: 14px;
    height: 20px;
    cursor: pointer;
}
.header__navbar__ordertracking__content{
    width: 65px;
    height: 40px;
    text-align: left;
}
.header__navbar__find{
    display: flex;
}



.header__navbar__findlocated__input{
    height: 40px;
    width: 410px;
    padding: 0;
    border: none;
    outline: none;
}
.header__navbar__find__seach{
    color: black;
    width: 23px;
    height: 23px;
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
    column-width: -1000px;
}
.header__navbar__find button{
    background-color: white;
    border: 0;
    outline: none;
    border-radius: 0 15px 15px 0;
}
.header__navbar__find button i{
    font-size: 20px;
    margin-bottom: 10px;
}
.header_findlocated__boder{
    border-radius: 5px;
    background-color: white;
    width: 480px;
    height: 45px;
    justify-content: center;
    align-items: center;
    padding-right: 0;
}
.choose-btn,
.choose-btn:focus{
    outline: none;
    border: 0;
    padding-left: 0;
    background-color: #fe0000;
    color: white;
}
.popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 11;
}
.popup_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.popup_find-locate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_title button{
    border: 0;
    outline: none;
    background-color: #FFFFFF;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}
.popup_find-locate div{
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 5px;
}
.popup_find-locate input{
    width: 85%;
    height: 35px;
    border: 0;
}
.popup_find-locate input:focus,
.popup_find-locate button{
    outline: none;
}
.popup_find-locate button{
    height: 35px;
    border: 0;
    background-color: #FFFFFF;
}
.header__navbar__located__address__content{
    width: 505px;
    height: 505px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px;
}
.popup_locate{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    background-color: #FFFFFF;
    height: 391px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.popup_locate button{
    height: 40px;
    width: 47%;
    background-color: #FFFFFF;
    text-align: left;
    border: 0;
    border-bottom:1px rgba(0,0,0,0.1) solid;
    margin-left: 10px;
    cursor: pointer;
}

.popup_locate button:focus,
.popup_locate button:hover{
    background-color: #fbe8ea;
    outline: none;
}
.header__cart{
    align-items: center;
}
.header__navbar__find,
.header__navbar__findlocated{
    width: 288px;
    border-radius: 15px;
    height: 40px;
    background-color: white;
}
.header__navbar__find__input{
    border:0;
    border-radius: 15px 0 0 15px ;
    color: black;
    padding-right: 70px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar__find__input input{
    outline: none;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}
#popup-find-all{
    background-color: rgba(0,0,0,0.3);
    height: 200vh;
    width: 140vw;
    position: absolute;
    top:75px;
    z-index: 11;
    display: none;
    justify-content: center;
}
.danhmuc-timkiem{
    height: 450px;
    width: 1200px;
    background-color: white;
    display: flex;
    border-radius:0 0 10px 10px;
}
.danhmuc-timkiem1{
    width: 33%;
    height: 450px;
    background-color: #ffffff;
    border-right: 1px rgba(0,0,0,0.1) solid;
    border-radius:0 0 10px 10px;
}
.danhmuc-timkiem1_title{
   height: auto;
   width: 100%;
   margin: 13px 0 13px 0;

}
.danhmuc-timkiem1_title h2{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 550;
}
.danhmuc-timkiem1_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.danhmuc-timkiem1_list li{
    list-style: none;
    height: 30px;
    width: auto;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 30%;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.danhmuc-timkiem1_list li:hover{
    background-color: #fe0000;
}
.danhmuc-timkiem1_list li:hover a{
    color: #ffffff !important;
}
.danhmuc-timkiem1_list-product{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.danhmuc-timkiem1_list-product li{
    list-style: none;
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    display: flex;
    margin: 5px;
}
.danhmuc-timkiem1_list-product_left{
    width: 20%;
    height: 100%;
    margin: 4px 0 0 4px;
}
.danhmuc-timkiem1_list-product_left img{
    width: 90%;
    height: 90%;
    transition: transform 0.3s ease;
}
.danhmuc-timkiem1_list-product_left img:hover{
    transform: scale(1.05);
}
.danhmuc-timkiem1_list-product_right{
    width: 80%;
    height: 80%;
    padding-left: 10px;
}
.danhmuc-timkiem1_list-product_right_tensp{
    font-size: 15px;
    width: 100%;
    height: 50%;
    margin-top: 3px;
    white-space: wrap;
}
.danhmuc-timkiem1_list-product_right_gia{
    font-size: 15px;
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 20px;
}
.giamgia{
    background-color: #fe0000;
    color: white;
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 40%;
    top:-75px;
    left: 43px;
}
.font-14px{
    font-size: 14px;
}
.danhmuc-timkiem1_content{
    height: auto;
    width: 100%;
    background-color: #ffffff;
}
.danhmuc-timkiem1_content_product{
    height: auto;
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    padding: 0;
}
.danhmuc-timkiem1_content_product li{
    list-style: none;
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    display: flex;
    margin: 5px;
}
.danhmuc-timkiem1_content_product_left{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.danhmuc-timkiem1_content_product_right{
    width: 80%;
    white-space:wrap;
    height: 100%;
    font-size: 17px;
    margin-left: 10px;
}
.danhmuc-timkiem1_content_product_left img{
    width: 100%;
    height: 95%;
    transition: transform 0.3s ease;
}
.danhmuc-timkiem1_content_product_left img:hover{
    transform: scale(1.05);
}

.header__navbar__located__address{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.classa{
    color: white !important;
}
.header__navbar__located__address__content{
    width: 505px;
    height: 505px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}
.header__navbar__located__address__content__icon{
    margin-left: 15px;
    font-size: 15px;
}
.header__navbar__located__address__content h2{
    margin-top: 15px;
    margin-bottom: 0;
}
.header__navbar__located__address__content form{
    padding: 10px;
}
.header__navbar__find__seach{
    color: black;
    width: 23px;
    height: 23px;
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
    column-width: -1000px;
}
.header__cart{
    cursor: pointer;
}
.header__cart__cartshopping{
    margin-left: 7px;
}
.header__navbar__ordertracking{
    display: flex;
    margin-top: 12px;
    cursor: pointer;
}
.header__navbar__ordertracking__clock{
    margin-top: 8px;
    margin-right: 7px;
}
.header__navbar__located__content{
    width: 65px;
    height: 40px;
    text-align: left;
}
.header__navbar__hotline{
    display: flex;
    margin-top: 12px;
}
.header__navbar__hotline__phone{
    margin-top: 8px;
    margin-right: 7px;
}
.header__navbar__hotline__content{
    width: 65px;
    height: 40px;
    text-align: left;
}
.header__navbar__account{
    cursor: pointer;
}
.header__navbar__account__icon{
    margin-right: 7px;
}
.title-slide-full{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.br-white{
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
}
.slide-khuyenmai{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
}
.slide-khuyenmai_center{
    height:60vh;
    width: 50vw;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    transition: all 0.3s ease;

}
.slide-khuyenmai_item{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slide-khuyenmai_center img{
    width: 100%;
    height: 85%;
}
.slide-khuyenmai_item:nth-child(1){
    transform: translateX(-100%);
}
.slide-khuyenmai_item:nth-child(2){
    transform: translateX(0%);
}
.slide-khuyenmai_item:nth-child(3){
    transform: translateX(100%);
}
.slide-khuyenmai_item:nth-child(4){
    transform: translateX(200%);
}
.slide-khuyenmai_item:nth-child(5){
    transform: translateX(300%);
}
.slide-khuyenmai_item:nth-child(6){
    transform: translateX(400%);
}
.slide-khuyenmai_item:nth-child(7){
    transform: translateX(500%);
}
.slide-khuyenmai_item:nth-child(8){
    transform: translateX(600%);
}
.slide-khuyenmai_item:nth-child(9){
    transform: translateX(700%);
}
.slide-khuyenmai_item:nth-child(10){
    transform: translateX(800%);
}
.button-next-prev{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    transform: translateY(-50%);
}
.btn{
    font-size: 20px;
    margin: 20px;
    border-radius: 50%;
    color: white;
    background-color: #888;
}
.slide-khuyenmai_center-content h3,
.slide-khuyenmai_center-content h4{
    margin: 5px 10px;
}
/* khuyen mái ap het han */
.kmhetHan-title{
    font-weight: 600;
    margin: 10px;
}
.khuyenMaiSapHetHan{
    width: 1160px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.khuyenMaiSapHetHan_item{
    width: 48%;
    height: auto;
    margin: 10px;
}
.khuyenMaiSapHetHan_item img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.khuyenMaiSapHetHang_item_title h4,
.khuyenMaiSapHetHang_item_title h5{
    margin: 5px 10px;
}
.khuyenMaiSapHetHang_item_title h5{
    color:rgba(0,0,0,0.6);
}
/* phan than */
a{
    text-decoration: none;
    color: black;
}
/* end nav_dieuhuong */
.container__category{
    display: flex;
    justify-content: center;
    padding-top: 0;
    height: 520px;
}
.container__category__left{
   padding: 0;
   cursor: pointer;
   height: 380px;
}
.container__category__left__title{
    list-style: none;
    font-size: 13px;
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    height: 530px;
    position: relative;
}
.container__category__right__list{
    display: flex;
    list-style: none;
    font-size: 15px;
    align-items: center;
    white-space: nowrap;
    grid-template-columns:auto auto; 
    column-gap: 20px;
    cursor: pointer;
}
.container__category__left__title__fist{
    border: 0;
    border-radius: 5px 5px 0px 0px;
}
.container__category__left__title__fist__icon{
    margin-right: 7px;
}
.container__category__left__title__fist{
    background-color: #413b49;
    color: white;
    height: 46px;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 15px;
    position: relative;
}
.container__category__left__title__fist__content{
    font-weight: 800;
}
.container__category__left__title__list{
    background-color: whitesmoke;
    padding-bottom: 9px;
    padding-left: 9px;
    font-size: 18px;
    display: none;
}
.container__category__right__top{
    height: 46px;
    width: 1055px;
    padding-top: 0;
}
.container__category__right__list{
    padding-left: 0;
    margin: 5px;
}
.container__category__right__list__content__icon{
    color: #fe0000;
    margin-top: 7px;
    font-size: 30px;
}
.container__category__right__list__content,
.container__category__right__list__content--fist{
    display: flex;
    padding-left: 20px;
    justify-items: center;
    align-items: center;
}
.container__category__right__list__content--fist{
    padding-left: 10px;
}
.container__category__right__list__content__word{
    margin-left: 20px;
    margin-top: 6px;
}
.fist{
    padding-top: 7px;
}
.container__category__right__list__content:hover a{
    color: #fe0000 !important;
}
.changecolor{
    color: black;
    font-weight: 400;
}
.changecolor:hover{
    color: blue;
}
.submenu1{
    position: absolute;
    background-color: red;
    font-weight: 500;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -26px;
    display: none;
    font-size: 11px;
    z-index: 10;
    color: black;
}
.submenu2{
    font-weight: 500;
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -62px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;
}
.submenu3{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -98px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;
}
.submenu4{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -134px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu5{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -170px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu6{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -206px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu7{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -242px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu8{
    position: absolute;
    background-color:white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -278px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu9{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -314px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu10{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -350px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu11{
    position: absolute;
    background-color:white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -386px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu12{
    position: absolute;
    background-color: red;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -422px;
    display: none;
    z-index: 10;
    font-size: 11px;
    font-weight: 500;

}
.catelog_hover li:hover .submenu1{
    display: flex;
}
.catelog_hover li:hover .submenu2{
    display: flex;
}
.catelog_hover li:hover .submenu3{
    display: flex;
}
.catelog_hover li:hover .submenu4{
    display: flex;
}
.catelog_hover li:hover .submenu5{
    display: flex;
}
.catelog_hover li:hover .submenu6{
    display: flex;
}
.catelog_hover li:hover .submenu7{
    display: flex;
}
.catelog_hover li:hover .submenu8{
    display: flex;
}
.catelog_hover li:hover .submenu9{
    display: flex;
}
.catelog_hover li:hover .submenu10{
    display: flex;
}
.catelog_hover li:hover .submenu11{
    display: flex;
}
.catelog_hover li:hover .submenu12{
    display: flex;
}

.submenu_one{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_two{
    width: 154px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_left{
    width: 385px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_right{
    width: 385px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_three{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_four{
    width: 154px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_five{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_title{
    list-style: none;
    font-weight: 600;
    padding-left: 10px;
}
ul .submenu_content{
   list-style: none; 
   padding-left: 8px;
}
ul .submenu_content li {
    list-style: none;
    padding-left: 25px;
    background-image: url('chamdaudong.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px 10px;
}

.submenu_one ul li{
    padding-top:10px ;
}
.submenu_one ul li a:hover{
    color: #70affd !important;
}
.submenu_two ul li{
    padding-top:12px ;
}
.submenu_two ul li a:hover{
    color: #70affd !important;
}
.submenu_three ul li{
    padding-top:12px ;
}
.submenu_three ul li a:hover{
    color: #70affd !important;
}
.submenu_four ul li{
    padding-top:12px ;
}
.submenu_four ul li a:hover{
    color: #70affd !important;
}
.submenu_five ul li{
    padding-top:12px ;
}
.submenu_five ul li a:hover{
    color: #70affd !important;
}
.submenu_left ul li{
    padding-top:12px ;
}
.submenu_left ul li a:hover{
    color: #70affd !important;
}
.submenu_right ul li{
    padding-top:12px ;
}
.submenu_right ul li a:hover{
    color: #70affd !important;
}
a{
    color: black !important;
    text-decoration: none !important;
}
/* tra cuu  */
.full-tracuu{
    height: 540px;
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.full-tracuu_content{
    height: 90%;
    width: 90%;
    display: flex;
    background-color: #413b49;
}
.full-tracuu_content_left{
    width: 35%;
    height: 100%;
    background-color: #FFFFFF;
}
.full-tracuu_content_right{
    width: 66%;
    height: 100%;
    background-color: #FFFFFF;
}
.full-tracuu_content_right img{
    height: 100%;
    width: 98%;
}
.full-tracuu_content_left_title{
    background-color: #FFFFFF;
}
.full-tracuu_content_left_title{
    font-size: 12px;
}
.full-tracuu_content_left_title h1{
    margin-left: 10px;
}
.full-tracuu_content_left_from{
    background-color: #FFFFFF;
    height: 460px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;

}
.full-tracuu_content_left_from fieldset legend{
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 10px;
    padding: 20px;
}
.dien-sdt,
.dien-madonhang,
.tracuu_button{
    height: auto;
    width: 270px;
    font-size: 20px;
    margin: 15px;
    background-color: #FFFFFF;
    color: rgba(0,0,0,0.7);
}
.dien-sdt input,
.dien-madonhang input{
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    height: 41px;
    width: 260px;
}
.dien-sdt input:focus,
.dien-madonhang input:focus {
    border: 2px solid #fe0000;
    outline: none;
}
.tracuu_button button{
    width: 251px;
    height: 41px;
    border-radius: 10px;
    border: none;
    background-color: #fe0000;
    color: white;
    font-size: 20px;
    font-weight: 550;
}
.tracuu_button button:focus{
    outline: none;
}
fieldset input{
    height: 41px;
}
/* dinh nghia lai */
.nav_catelory-book-ship-promote-sel_list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    background-color: #FFFFFF;

}
.nav_catelory-book-ship-promote-sel_list li{
    border-bottom: 1px rgba(0,0,0,0.3) solid;
}
.nav_catelog,
.nav_book-ship-promote-sell{
    height: 45px;
    width: 240px;
    font-size: 15px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.nav_catelog i,
.nav_book-ship-promote-sell i{
    padding-right: 10px;
    color: #fe0000;
    font-size: 20px;
    
}
.nav_catelog a i{
    color: #FFFFFF;
}
.nav_book-ship-promote-sell:hover a{
    color: #fe0000 !important;
}
.nav_catelog a {
    color: #FFFFFF;
}
.nav_catelog{
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    background-color: #413b49;
    position: relative;
}
.catelog_hover{
    height: 472px;
    width: 240px;
    position: absolute;
    margin-top: 300px;
    display: none;
    font-size: 12px;
    padding: 4px;
    background-color: #FFFFFF;
    list-style: none;
    margin-top: 500px;
    z-index: 10;
}
.danhmuc_title{
    color: #FFFFFF;
}
.catelog_hover li{
    height: 35px;
    width: 100%;
}
.catelog_hover li i{
    color: rgba(0,0,0,0.6);
}
.nav_catelog:hover .catelog_hover{
    display: block;
}
.full-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}





.email_uudai{
    height: 76px;
    width: 1150px;
    background-color: aliceblue;
    display: flex;
}
.email_uudai_left{
    width: 30%;
}
.email_uudai ul{
    list-style: none;
    display: flex;
    padding-left:10px ;
}
.email_uudai ul li{
    margin-top: 17px;
    margin-right: 30px;
}
li .icon_fb-ytb-zl{
    height: 40px;
    display: inline-block;
}
.email_uudai_mid{
   display: flex;
   margin-top: 20px; 
}
.content_email_mid-icon{
    margin-right: 20px;
    font-size: 32px;
    margin-top: -5px;
}
.content_email_mid{
   font-size: 14px;
   margin-top: -4px;
}
.content_email_right{
    height: 76px;
    margin-left: 90px;
    margin-top: 20px;
    display: flex;
}
.content_email_right-input{
    height: 35px;
    width: 300px;
    border-radius: 5px;
}
.content_email_right-input input{
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border:thick;
}
.content_email_right-input input:focus{
    outline: none;
    border: 1px orange solid;
}
.content_email_right-button{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border:thick;
    color:white ;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    background-color: #41B948;
}
.content_email_right-button:focus{
    outline: none;
}
.content_email_right-input div{
    color: red;
    display: none;
}
/* thong tin lien he */
.lienhe{
    width: 100vw;
    background-color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_info{
    height:780px;
    width: 1110px;
    background-color: white;
    display: block;
    border-radius: 15px;
    margin-top: 0px;
}
.contact_info_top{
    width: 1110px;
    height: 243px;
    display: flex;
}
.contact_info_top-title{
    width: 20%;
    background-color: white;
    padding: 20px;
    font-size: 12px;
    height: 200px;
}
.contact_info_top-title li{
    list-style: none;
    margin: 5px 0;
}
.contact_info_top-title-list{
    padding: 0;
}
.contact_info_top-title-b{
    font-weight: 600;
}
.contact_info_top-title-list li{
    font-weight: 400;
}
.contact_info_bottom{
    height: 560px;
    width: 1110px;
    background-color: white;
}
.contact_info_bottom-top{
    height: 40px;
    width: 1110px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
}
.contact_info_bottom-end{
    width: 1110px;
    height: 520px;
    background-color: white;
    display: flex;
}
.contact_info_bottom-end_list{
    width: 20%;
    height: 520px;
    background-color: white;
}

.list{
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding:5px 10px;
}
.list li{
    margin: 5px 0;
}
.list h2{
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
/* phan quoang cao cuoi trang */
.footer_end{
    height: 250px;
    width: 100vw;
    background-color:white;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}
.footer_end_nav-img{
    background-color: black;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_end_nav-img img{
    width: 120px;
    height: 60px;
    display: inline-block;
}
.footer_end-container{
    height: 80px;
    width: 100vw;
    font-size: 15px;
    margin-top: 9px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.footer_end-container-left{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-mid{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-right{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-mid img,
.footer_end-container-right img{
    height: 37px;
}
.foot-end{
    justify-content: center;
    align-items: center;
}
.content-end{
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer__hotline{
    display: inline-block;
    padding: 0;
    color: #FFFFFF;
    border: 0;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    background-color:#fe0000;
    box-shadow: 0 0 5px #888;
    white-space: nowrap;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.9em;
    z-index: 10;
    text-align: left;
    width: 259px;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 1;
    position: fixed;     
    bottom: 10px;       
    right: 10px;       
    width: 280px;
    height: 80px;
    display: flex;
    padding: 10px;
}
.footer_hotline_left{
    width: 85%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_hotline_right{
    width: 80px;
    height: 80px;  
    display: flex;
    margin-top:-10px;
    margin-right: -10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.footer_hotline_right i{
    font-size: 40px;
    color: #fe0000;
}
