body{
    height:auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.app{
    background-color: aliceblue;
    height: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.container-full{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    height: auto;
    width: 1160px;
}
.header{
    height: 88px;
    background-color: #fe0000;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.header__navbar__list{
    list-style: none;
    display: flex;
    position: absolute;
    color: white;
    align-items: center;
    white-space: nowrap;
    grid-template-columns:auto auto; 
    column-gap: 10px;
    font-size: 13px;
    margin-top: 10px;
}
.header__navbar__list li{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.header__navbar__list li i{
    height: 100%;
    width: 20%;
}
.header__navbar__logo{
    width: 40px; 
    padding-top: 15px;
    width: 25%;
    cursor: pointer;
    display: inline;
}
.header__navbar__located{
    display:flex;
    width: 140px;
    margin-top: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar__located__point{
    font-size: 30px;
    margin-top: 5px;
    margin-right: 10px;
}
.header__navbar__located__TP{
    font-size: 15px;
    height: 20px;
    cursor: pointer;
}
.header__navbar__located__content{
    margin-bottom: 10px;
}
.header__navbar__ordertracking__content{
    width: 65px;
    height: 40px;
    text-align: left;
}
.header__navbar__find{
    display: flex;
}
.header__cart{
    align-items: center;
}
.header__navbar__find,
.header__navbar__findlocated{
    width: 288px;
    border-radius: 15px;
    height: 40px;
    background-color: white;
}
.header__navbar__find button{
    background-color: white;
    border: 0;
    outline: none;
    margin-right: 10px;
    border-radius: 0 15px 15px 0;
}
.header__navbar__find button i{
    font-size: 20px;
    margin-bottom: 10px;
}
.header__navbar__find__input{
    border:0;
    border-radius: 15px 0 0 15px ;
    color: black;
    padding-right: 40px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar__find__input input{
    outline: none;
    width: 160%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}
#popup-find-all{
    background-color: rgba(0,0,0,0.3);
    height: 200vh;
    width: 140vw;
    position: absolute;
    top:75px;
    z-index: 11;
    display: none;
    justify-content: center;
}
.danhmuc-timkiem{
    height: 460px;
    width: 1200px;
    background-color: white;
    display: flex;
    border-radius:0 0 10px 10px;
}
.danhmuc-timkiem1{
    width: 33%;
    height: 450px;
    background-color: #ffffff;
    border-right: 1px rgba(0,0,0,0.1) solid;
    border-radius:0 0 10px 10px;
}
.danhmuc-timkiem1_title{
   height: auto;
   width: 100%;
   margin: 13px 0 13px 0;

}
.danhmuc-timkiem1_title h2{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 550;
}
.danhmuc-timkiem1_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.danhmuc-timkiem1_list li{
    list-style: none;
    height: 30px;
    width: auto;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 30%;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.danhmuc-timkiem1_list li:hover{
    background-color: #fe0000;
}
.danhmuc-timkiem1_list li:hover a{
    color: #ffffff !important;
}
.danhmuc-timkiem1_list-product{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.danhmuc-timkiem1_list-product li{
    list-style: none;
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    display: flex;
    margin: 5px;
}
.danhmuc-timkiem1_list-product_left{
    width: 20%;
    height: 100%;
    margin: 4px 0 0 4px;
}
.danhmuc-timkiem1_list-product_left img{
    width: 90%;
    height: 90%;
    transition: transform 0.3s ease;
}
.danhmuc-timkiem1_list-product_left img:hover{
    transform: scale(1.05);
}
.danhmuc-timkiem1_list-product_right{
    width: 80%;
    height: 80%;
    padding-left: 10px;
}
.danhmuc-timkiem1_list-product_right_tensp{
    font-size: 15px;
    width: 100%;
    height: 50%;
    margin-top: 3px;
    white-space: wrap;
}
.danhmuc-timkiem1_list-product_right_gia{
    font-size: 15px;
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 20px;
}
.giamgia{
    background-color: #fe0000;
    color: white;
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 40%;
    top:-75px;
    left: 43px;
}
.font-14px{
    font-size: 14px;
}
.danhmuc-timkiem1_content{
    height: auto;
    width: 100%;
    background-color: #ffffff;
}
.danhmuc-timkiem1_content_product{
    height: auto;
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    padding: 0;
}
.danhmuc-timkiem1_content_product li{
    list-style: none;
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    display: flex;
    margin: 5px;
}
.danhmuc-timkiem1_content_product_left{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.danhmuc-timkiem1_content_product_right{
    width: 80%;
    white-space:wrap;
    height: 100%;
    font-size: 17px;
    margin-left: 10px;
}
.danhmuc-timkiem1_content_product_left img{
    width: 100%;
    height: 95%;
    transition: transform 0.3s ease;
}
.danhmuc-timkiem1_content_product_left img:hover{
    transform: scale(1.05);
}

/* popup located */
.popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 11;
}
.popup_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.popup_find-locate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_title button{
    border: 0;
    outline: none;
    background-color: #FFFFFF;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}
.popup_find-locate div{
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 5px;
}
.popup_find-locate input{
    width: 85%;
    height: 35px;
    border: 0;
}
.popup_find-locate input:focus,
.popup_find-locate button{
    outline: none;
}
.popup_find-locate button{
    height: 35px;
    border: 0;
    background-color: #FFFFFF;
}
.popup_locate{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    background-color: #FFFFFF;
    height: 391px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.popup_locate button{
    height: 40px;
    width: 47%;
    background-color: #FFFFFF;
    text-align: left;
    border: 0;
    border-bottom:1px rgba(0,0,0,0.1) solid;
    margin-left: 10px;
    cursor: pointer;
}
.popup_locate button:focus,
.popup_locate button:hover{
    background-color: #fbe8ea;
    outline: none;
}
.choose-btn,
.choose-btn:focus{
    outline: none;
    border: 0;
    padding-left: 0;
    background-color: #fe0000;
    color: white;
}
.header__navbar__findlocated__input{
    height: 40px;
    width: 410px;
    padding: 0;
    border: none;
    outline: none;
}

.header__navbar__find__seach{
    color: black;
    width: 23px;
    height: 23px;
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
    column-width: -1000px;
}
.header_findlocated__boder{
    border-radius: 5px;
    background-color: white;
    width: 480px;
    height: 45px;
    justify-content: center;
    align-items: center;
    padding-right: 0;
}
.header__navbar__located__address{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.classa{
    color: white !important;
}
.header__navbar__located__address__content{
    width: 505px;
    height: 505px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}
.header__navbar__located__address__content__icon{
    margin-left: 15px;
    font-size: 15px;
}
.header__navbar__located__address__content h2{
    margin-top: 15px;
    margin-bottom: 0;
}
.header__navbar__located__address__content form{
    padding: 10px;
}
.header__cart{
    cursor: pointer;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.header__cart i{
    font-size: 23px;
    margin-right: 5px;
}
.header__cart__cartshopping{
    margin-left: 7px;
}
.header__navbar__ordertracking{
    display: flex;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar__ordertracking__clock{
    margin-top: 8px;
    margin-right: 7px;
    font-size: 23px;
    margin-right: 10px;
}
.header__navbar__located__content{
    width: 65px;
    height: 40px;
    text-align: left;
    margin-bottom: 10px
}
.header__navbar__hotline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar__hotline__phone{
    margin-top: 8px;
    margin-right: 10px;
    font-size: 25px;
}
.header__navbar__hotline__content{
    width: 65px;
    height: 40px;
    text-align: left;
}
.header__navbar__account{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar__account__icon{
    margin-right: 7px;
    font-size: 25px;
}


/* phan than */
a{
    text-decoration: none;
    color: black;
}

.slidequangcao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    height: 460px;
    background-color: white;
}
.slidebig{
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.slidebig_top{
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.3s ease;
}
ul{
    list-style: none;
}
.slidebig_bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slidebig_bottom ul li{
    background-color: #888;
    padding: 5px;
    border-radius: 10px;
    margin:0 10px 0 10px;
    display: none;
}
.slidebig img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    position: absolute;
}
.slidebig-btn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.slidebig-btn-left,
.slidebig-btn-right{
    font-size: 25px;
    padding: 7px;
    background-color: #ffffff;
    border-radius: 50%;
}
.slidebig a:nth-child(2) img{
    transform: translateX(100%);
}
.slidebig a:nth-child(3) img{
    transform: translateX(200%);
}
.slidebig a:nth-child(4) img{
    transform: translateX(300%);
}
.slidebig a:nth-child(5) img{
    transform: translateX(400%);
}
.slidebig a:nth-child(6) img{
    transform: translateX(500%);
}
.slidebig a:nth-child(7) img{
    transform: translateX(600%);
}





.slideright{
    width: 27%;
    height: 95%;
    margin-left: 1%;
    background-color: white;
}
.slideright_top{
    width: 100%;
    height: 47%;
    background-color: white;
}
.slideright_bottom{
    width: 100%;
    height: 47%;
    margin-top: 5%;
    background-color: white;
}
.slideright_top a img,
.slideright_bottom a img{
    height: 94%;
    width: 100%;
    border-radius: 10px;
}

.w-100{
    height: 430px !important;
}
/* top10 */
.top10{
    width: 1160px;
    height:560px;
    margin-top: 10px;
    border-radius: 10px;
    background-color:#ffffff;
}
.top10 h2{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 550;
    font-size: 17px;
}
/* begin slide */
.owl-theme{
    width: 100%;
    height: 90%;
    background-color: #ffffff;
}
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.owl-prev, .owl-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white !important;
    background-color:#999999 !important;
    padding: 10px;
    border-radius: 32px !important;
    font-size: 18px;
    cursor: pointer;
}
.owl-prev {
    position: absolute;
    left: -30px;
}
.owl-next {
    position: absolute;
    right: -30px;
}
.owl-prev, .owl-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px; 
    border-radius: 50%;
    font-size: 40px; 
    cursor: pointer;
    width: 32px; 
    height: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
    top:-60px
}
.owl-prev {
    position: absolute;
    left: 10px;
}
.owl-next {
    position: absolute;
    right: 10px;
}
.owl-prev span,
.owl-next span{
    font-size: 20px;
}
/* end slide */
/* /slide5 */
.slide5{
    width:1160px;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.slide5-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}
.slide-item-khoi5{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.slide-item-khoi5:nth-child(2){
    transform: translateX(100%);
}
.slide-item-khoi5:nth-child(3){
    transform: translateX(200%);
}
.slide-item-khoi5:nth-child(4){
    transform: translateX(300%);
}
.button-next-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.btn{
    font-size: 25px;
    position: absolute;
    margin: 10px;
    color: white;
    background-color: #413b4963;
    border-radius: 50%;
    padding: 7px;
}
.btn-left2{
    left: 0;
}
.btn-right2{
    right: 0;
}




/* itemscaiquat */
.item{
    background-color:#ffffff;
    height: 480px;
    width: 220px;
    border-radius: 10px;
}
.itemscaiquat{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px #88888863 solid;
}
.imgitemscaiquat{
    width: 98%;
    height: 45%;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgitemscaiquat img{
    width: 70% !important;
    height: 90%;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.imgitemscaiquat img:hover{
    transform: translateY(-5px);
}
.thongsocaiquat{
    height: 36%;
    width: 100%;
    background-color: #ffffff;
}
.thongsocaiquat h3{
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}
.thongsocaiquat h4,
.thongsocaiquat h5{
    margin-left: 5px;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}
.color_red{
    color: #fe0000 !important;
    font-weight: 600 !important;
    font-size: 18px;
}
.modidel{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.thongsocaiquat h5{
    margin-left: 5px;
    font-size: 14px;
}
.sosanhcaiquat{
    background-color: #ffffff;
    height: 8%;
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.sosanhcaiquat h4{
    margin-top: 5px;
    margin-left: 5px;
    color: #70affd;
    border-radius: 10px;
}
.magiamgia{
    background-color:#ffffff;
    height: 50px;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:5px #fe0000 solid;
    border-radius:10px;
    margin-left: 5px;
    border-bottom: 1px #888 solid;
    border-top: 1px #888 solid;
    border-right: 1px #88888855 solid;
}
.magiamgia_content{
    width: 85%;
    height: 80%;
    font-size: 14px;color: #888888d2;
    background-color: #ffffff;
}
/* end itemscaiquat */
/* nav_dieuhuong */
.nav_dieuhuong{
    height: 130px;
    width: 1160px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.nav_dieuhuong_top{
    height: 50%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}
.nav_dieuhuong_top div{
    height: auto;
    width: auto;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}
.nav_dieuhuong_top div h4{
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    border: 1px #8888886f solid;
    border-radius: 30px;
    background-color: #ffffff;
}
.nav_dieuhuong_bottom{
    height: 50%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
}
.timkiemnhieu{
    font-size: 13px;
    margin-left: 10px;
}
.img-timkiemnhieu{
    display: flex;
    list-style: none;
    margin-top: 10px;
    margin-left: -20px;
}
.img-timkiemnhieu li{
    margin-right: 5px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    border: 1px #8888886f solid;
    border-radius: 5px;
    cursor: pointer;
}
.img-timkiemnhieu li img,
.img-timkiemnhieu li span{
    height:27px;
    width: 77px;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
/* x20sanpham */
.x20_sanpham{
    width: 1160px;
    height: 2100px;
    border-radius: 10px;
    background-color: #ffffff;
}
.baner_20quat{
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    padding-left: 10px;
    justify-content: left;
    align-items: center;
}
.title_20quat{
    font-weight: 800;
    font-size: 16px;
}
.title_20quat h2{
    color: rgba(0,0,0,0.8);
    font-weight: 500;
}
.listluachon_quat{
    list-style: none;
    display: flex;
    padding: 20px;
    margin-top: 5px;
}
.listluachon_quat li{
    background-color: #ffffff;
    font-size: 14px;
    height: 36px;
    width: 130px;
    margin: 0 5px;
    border-radius: 10px;
    border: 1px #888 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_20caiquat{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.items_quat20cai{
    width: 19%;
    margin-left: 10px;
    margin-top: 5px;
    height: 500px;
    background-color: #ffffff;
}
/* end 20 san pham */

/* san pham danh rieng cho ban */
.sanphamdanhrieng{
    width: 1160px;
    height:auto;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color:#ffffff;
    border-radius: 10px;
}
.owl-loaded{
    border-radius: 10px;
}
.sanphamdanhrieng_title{
    background-color: #fe0000;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}
.sanphamdanhrieng_title h2{
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 1000;
}
/* san pham da xem */
.sanphamdaxem{
    height: auto;
    width: 1160px;
    padding-bottom: 10px;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
}
/* end san pham da xem */
/* thong tin muc luc */
.thongtinmucluc{
    height: auto;
    width: 1160px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}
.thongtinmucluc_hien{
    padding-left: 10px;
}
.thongtinmucluc_an{
    display: none;
}
.thongtinmucluc_hien h2,
.thongtinmucluc_an h2{
    padding: 10px 0;
    font-size: 24px;
}
.thongtinmucluc_hien_content a h4{
    color: #ed3324;
    padding: 1.5px 0;
    font-size: 14px;
    font-weight: 500;
}
.thongtinmucluc_hien_content h3,
.thongtinmucluc_hien_content h4{
    font-size: 16px;
    font-weight: 400;
}
.button_hienthongtin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hienmucluc{
    color: #ed3324;
    border: 0;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 1160px;
    font-size: 17px;
}
.thongtinmucluc_an h2{
    margin-left: 10px;
}
.thanhcuon_content{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 400px;
    padding:0 15px 15px 15px;
}
.img_thongtinmucluc_top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    height: auto;
}
.nameproduct_thongtinmucluc{
    display: flex;
    justify-content: center;
    width: 1160px;
    height: auto;
    align-items: center;
}
h4 table {
    font-size: 15px;
}
.lienhe_mucluc{
    height: auto;
    width: 98%;
    padding: 10px;
    background-color: #8888888b;
    border-radius: 10px;
}
.lienhe_mucluc h4{
    margin-left: 10px;
}
.colorred{
    color: red !important;
}
/* end thong tin muc luc */
/* tim kiem nhieu nhat */
.timkiemnhieunhat{
    height: auto;
    width: 1160px;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
}
.timkiemnhieunhat_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.timkiemnhieunhat_list li{
    border-radius: 10px;
    border: 1px #8888884c solid;
    height: 42px;
    width: auto;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.timkiemnhieunhat_list li:hover{
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
}
/* end tim kiem nhieu nhat */
/* end nav_dieuhuong */
.container__category{
    display: flex;
    justify-content: center;
    padding-top: 0;
    height: 520px;
}
.container__category__left{
   padding: 0;
   cursor: pointer;
   height: 380px;
}
.container__category__left__title{
    list-style: none;
    font-size: 13px;
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    height: 530px;
    position: relative;
}
.container__category__right__list{
    display: flex;
    list-style: none;
    font-size: 15px;
    align-items: center;
    white-space: nowrap;
    grid-template-columns:auto auto; 
    column-gap: 20px;
    cursor: pointer;
}
.container__category__left__title__fist{
    border: 0;
    border-radius: 5px 5px 0px 0px;
}
.container__category__left__title__fist__icon{
    margin-right: 7px;
}
.container__category__left__title__fist{
    background-color: #413b49;
    color: white;
    height: 46px;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 15px;
    position: relative;
}
.container__category__left__title__fist__content{
    font-weight: 800;
}
.container__category__left__title__list{
    background-color: whitesmoke;
    padding-bottom: 9px;
    padding-left: 9px;
    font-size: 18px;
    display: none;
}
.container__category__right__top{
    height: 46px;
    width: 1055px;
    padding-top: 0;
}
.container__category__right__list{
    padding-left: 0;
    margin: 5px;
}
.container__category__right__list__content__icon{
    color: #fe0000;
    margin-top: 7px;
    font-size: 30px;
}
.container__category__right__list__content,
.container__category__right__list__content--fist{
    display: flex;
    padding-left: 20px;
    justify-items: center;
    align-items: center;
}
.container__category__right__list__content--fist{
    padding-left: 10px;
}
.container__category__right__list__content__word{
    margin-left: 20px;
    margin-top: 6px;
}
.fist{
    padding-top: 7px;
}
.container__category__right__list__content:hover a{
    color: #fe0000 !important;
}
.changecolor{
    color: black;
    font-weight: 500;
}
.changecolor:hover{
    color: blue;
}
.submenu1{
    position: absolute;
    background-color: red;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -26px;
    display: none;
    font-size: 11px;
    z-index: 10;
    color: black;
    font-weight: 500;

}
.submenu2{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -62px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu3{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -98px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu4{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -134px;
    display: none;
    font-size: 11px;
    font-weight: 500;
    z-index: 10;

}
.submenu5{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -170px;
    display: none;
    font-size: 11px;
    font-weight: 500;
    z-index: 10;

}
.submenu6{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -206px;
    display: none;
    font-size: 11px;
    font-weight: 500;
    z-index: 10;

}
.submenu7{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -242px;
    display: none;
    font-size: 11px;
    font-weight: 500;
    z-index: 10;

}
.submenu8{
    position: absolute;
    background-color:white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -278px;
    display: none;
    font-size: 11px;
    font-weight: 500;
    z-index: 10;

}
.submenu9{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -314px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu10{
    position: absolute;
    background-color: white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -350px;
    display: none;
    font-size: 11px;
    z-index: 10;
    font-weight: 500;

}
.submenu11{
    position: absolute;
    background-color:white;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -386px;
    display: none;
    font-size: 11px;
    font-weight: 500;
    z-index: 10;
}
.submenu12{
    position: absolute;
    background-color: red;
    width: 770px;
    height: 472px;
    margin-left:234px;
    margin-top: -422px;
    display: none;
    z-index: 10;
    font-weight: 500;
    font-size: 11px;
}

.catelog_hover li:hover .submenu1{
    display: flex;
}
.catelog_hover li:hover .submenu2{
    display: flex;
}
.catelog_hover li:hover .submenu3{
    display: flex;
}
.catelog_hover li:hover .submenu4{
    display: flex;
}
.catelog_hover li:hover .submenu5{
    display: flex;
}
.catelog_hover li:hover .submenu6{
    display: flex;
}
.catelog_hover li:hover .submenu7{
    display: flex;
}
.catelog_hover li:hover .submenu8{
    display: flex;
}
.catelog_hover li:hover .submenu9{
    display: flex;
}
.catelog_hover li:hover .submenu10{
    display: flex;
}
.catelog_hover li:hover .submenu11{
    display: flex;
}
.catelog_hover li:hover .submenu12{
    display: flex;
}

.submenu_one{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_two{
    width: 154px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_left{
    width: 385px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_right{
    width: 385px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_three{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_four{
    width: 154px;
    height: 472px;
    background-color: whitesmoke;
    padding: 4px;
}
.submenu_five{
    width: 154px;
    height: 472px;
    background-color: white;
    padding: 4px;
}
.submenu_title{
    list-style: none;
    font-weight: 600;
    padding-left: 10px;
}
ul .submenu_content{
   list-style: none; 
   padding-left: 8px;
}
ul .submenu_content li {
    list-style: none;
    padding-left: 25px;
    background-image: url('chamdaudong.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px 10px;
}

.submenu_one ul li{
    padding-top:10px ;
}
.submenu_one ul li a:hover{
    color: #70affd !important;
}
.submenu_two ul li{
    padding-top:12px ;
}
.submenu_two ul li a:hover{
    color: #70affd !important;
}
.submenu_three ul li{
    padding-top:12px ;
}
.submenu_three ul li a:hover{
    color: #70affd !important;
}
.submenu_four ul li{
    padding-top:12px ;
}
.submenu_four ul li a:hover{
    color: #70affd !important;
}
.submenu_five ul li{
    padding-top:12px ;
}
.submenu_five ul li a:hover{
    color: #70affd !important;
}
.submenu_left ul li{
    padding-top:12px ;
}
.submenu_left ul li a:hover{
    color: #70affd !important;
}
.submenu_right ul li{
    padding-top:12px ;
}
.submenu_right ul li a:hover{
    color: #70affd !important;
}
/* slide */
.container__category__right__bottom{
    height: 475px;
    width: 1000px;
    position: absolute;
    background-color: white;
    display: flex;
    position: relative;
}

.slidesmall{
    display: inline-block;
    height: 475px;
    width: 312px;
}
.w-100 {
    height: 460px;
    width: 650px;
}
a{
    color: black !important;
    text-decoration: none !important;
}
.slidesmall_top{
    height: 237px;
    width: 300px;
    margin: 5px;
}
.slidesmall_bottom{
    height: 237px;
    width: 300px;
    margin: 5px;
}
.imgsmall{
    height: 210px;
    width: 300px;
    border-radius: 10px;
    margin-left: 15px;
}






/* dinh nghia lai */
.nav_catelory-book-ship-promote-sel_list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    background-color: #FFFFFF;
}
.nav_catelog,
.nav_book-ship-promote-sell{
    height: 45px;
    width: 240px;
    font-size: 15px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.nav_catelog i,
.nav_book-ship-promote-sell i{
    padding-right: 10px;
    color: #fe0000;
    font-size: 20px;
}
.nav_catelog a i{
    color: #FFFFFF;
}
.nav_book-ship-promote-sell:hover a{
    color: #fe0000 !important;
}
.nav_catelog a {
    color: #FFFFFF;
}
.nav_catelog{
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    background-color: #413b49;
    position: relative;
}
.catelog_hover{
    height: 472px;
    width: 240px;
    position: absolute;
    margin-top: 300px;
    display: none;
    font-size: 12px;
    padding: 4px;
    background-color: #FFFFFF;
    list-style: none;
    margin-top: 500px;
    z-index: 10;
}
.danhmuc_title{
    color: #FFFFFF;
}
.catelog_hover li{
    height: 35px;
    width: 100%;
}
.catelog_hover li i{
    color: rgba(0,0,0,0.6);
}
.nav_catelog:hover .catelog_hover{
    display: block;
}
/* product */
.container_product{
    height: 766px;
    width: 1160px;
    background-color: white;
    display: flex;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
}
.product_left{
    background-color: white;
    width: 50%;
    height: 100%;
}
.product_left_top{
    height: 60%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_left_top div{
    height: 400px;
    width: 500px;
    background-color: #70affd;
}
.product_left_bottom {
    padding: 10px;
    font-size: 15px;
}
.product_left_bottom h4{
    font-size: 20px;
}
.product_left_bottom ul li{
    color:#fe0000
}
.product_left_bottom ul li span{
    color: black;
}
.product_right{
    background-color: white;
    width: 50%;
    height: 100%;
    padding-left: 30px;
    padding-top: 30px;   
}
.product_right_title h6{
    font-size: 15px;
    color: rgba(0,0,0,0.5);
}
.product_right_title h6 span{
    color: rgba(0,0,0,1);
}
.product_right_title h2{
    font-weight: 700;
}
.product_right_title span{
    font-size: 15px;
}
.product_right_title span ul{
    list-style: none;
    display: flex;
    padding-left: 0;
}
.product_right_title span ul li{
    padding-right: 20px;
}
.fa-star{
    color: #fe0000;
}
.sosanh{
    color: blue;
}
.product_right_cost{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
}
.product_right_cost_left{
    height: 100%;
    width: 50%;
    background-color: white;
    border-right:1px #888 solid;
    font-size: 15px;
}
 h1{
    font-size: 30px;
}
.giam59{
    background-color: #fe0000;
    border-radius: 5px;
    color: white;
    border-radius: 5px;
}
.product_right_cost_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_right_cost_right img{
    height: 20px;
    width: 90%;
    margin-left: 30px;
}
.product_right_pgg{
    width: 100%;
    height: 166px;
}
.product_right_button{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 15px;
}
.product_right_button_left{
    background-color: #fe0000;
    width: 48%;
    color: #FFFFFF;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
}
.product_right_button_left:hover{
    background-color: rgba(255,0,0,0.7);
}
.product_right_button_left h1{
    margin-left: 80px;
    margin-top: 5px;
}
.product_right_button_left div{
    font-size: 15px;
    margin-left: 73px;
}
.product_right_button_right{
    width: 48%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe0000;
    border: 1px #fe0000 solid;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.product_right_button_right:hover{
    background-color: #fe0000;
    color: #FFFFFF;
}
.goimua{
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_right_diachi{
    height: 200px;
    width: 97%;
    border: 1px rgba(0,0,0,0.2) solid;
    border-radius: 5px;
    background-color: white;
    margin-top: 40px;
}
.product_right_diachi_title{
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background-color: #f3f5f7;
}
.product_right_diachi_title span{
    margin-left: 10px;
}
.chontinhthanh{
    height: 40px;
    width: 95%;
    font-size: 17px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Làm mờ viền */
    border: none;
}
.product_right_diachi_content{
    font-size: 15px;
    margin-top: 10px;
}
.product_right_diachi_content-imdam-red{
    font-weight: 700;
    color: #fe0000;
    margin-left: 10px;
}
.product_right_diachi_content div span{
    font-weight: 700;
    margin-left: 10px;
}
/* thong so ki thuat */
.container_thongso{
    height: auto;
    margin-top: 10px;
    width: 1160px;
    background-color: white;
}
.thongso_img-content{
    width: 100%;
    height: 720px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thongso_left{
    width: 68%;
    height: 710px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thongso_right{
    width: 30%;
    height: 710px;
    background-color: white;
}
.thongso_right_top{
    height: 600px;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.thongso_right_bottom{
    border: 1px #fe0000 solid;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #fe0000;
}
.thongso_right_bottom:hover{
    background-color: #fe0000;
    color: white;
}
/* }
#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    height: 750px;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 5px;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#close-popup {
    cursor: pointer;
    color: red;
    float: right;
    font-size: 20px;
} */
.thongso_right_bottom {
    cursor: pointer;
    color: white;
    color: #fe0000;
    padding: 10px;
    text-align: center;
    width: 280px;
    margin: 20px auto;
}
table{
    font-size: 20px;
}
table tr td{
    padding: 7px;
}
.product-specs {
    width: 50%;
    margin: 20px auto;
}
.product-specs h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.product-specs table {
    width: 100%;
    border-collapse: collapse;
}
.product-specs td {
    padding: 10px 0;
}
.product-specs td:first-child {
    font-weight: bold;
    width: 35%;
}
.product-specs td:last-child {
    text-align: left;
}
.thietke_content img{
    margin-top: 10px;
}
.thietke_content h1{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thietke_content_img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thietke_content span{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#themtinhnang{
    border:1px #fe0000 solid;
    border-radius: 5px;
    color: #fe0000;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 400px;
    height: 40px;
    font-size: 20px;
    width: 365px;
    cursor: pointer;
    display: flex;
}
.themcactinhnangan{
    display: none;
}
#themtinhnang button{
    height: 100%;
    width: 100%;
    color: #fe0000;
    background-color: white;
    border: 0;
}
.themtinhnang:hover{
    border: 1px blue solid;
}
.end_tinhnang{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end_tinhnang div{
    height: 162px;
    width: 851px;
}
.end_tinhnang  h1,
.end_tinhnang h3{
    text-align: center;
}
/* danh gia */
.danhgia{
    width: 1160px;
    height: 750px;
    background-color: #f0f8ff;
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
}
.danhgia_left{
    height: 700px;
    width: 850px;
    background-color: white;
}
.danhgia_left_top{
    height: 445px;
    width: 100%;
    background-color: white;

}
.danhgia_left_bottom{
    height: 285px;
    width: 100%;
    background-color: white;
}
.danhgia_right{
    height: 600px;
    width: 350px;
    margin-left: 10px;
    background-color: white;
}
.danhgia_right_top{
    height: 413px;
    width: 100%;
    background-color: white;
}
.danhgia_right_top h2{
    padding-top: 5px;
    padding-left: 10px;
}
.kinhnghiemhay{
    height: 325px;
    width: 100%;
}
.kinhnghiemhay_baibao{
    height: 64px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.kinhnghiemhay_img{
    width: 95px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.kinhnghiemhay_content{
    width: 180px;
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 13px;
}
.button_post-lienquan{
    background-color: white;
    height: 40px;
    width: 310px;
    color: #fe0000;
    border:1px #fe0000 solid;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_post-lienquan:hover{
    background-color: #fe0000;
    color: white;
}
.sanphamcunggia{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 15px;

}
.sanphamcunggia_banner{
    height: 50px;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: aliceblue;
    border-radius: 15px 15px 0 0;
    background-color: #fe0000;
}
.items{
    display: flex;
    width: 1300px;
    height: auto;
    background-color: #f5f6f8;
    flex-wrap: wrap;
    margin-top: 20px;
}
.item_mini{
    display: inline-block;
    background-color: white;
    width: 15.3%;
    height: 420px;
    flex-wrap: wrap;
    cursor: pointer;
    margin-right: 27px;
    border-radius: 20px;
}
.item_mini img{
    height: 200px;
    width: 186px;
    margin-top: 20px;
    border-radius: 5px;
}
.item_mini img:hover{
    margin-top: 10px;
}
.item_mini-font{
    font-size: 20px;
    margin-left: 20px;
}
.item_mini h3{
    margin-left: 20px;
    margin-top: 10px;
}
.giam50{
    background-color: #fe0000;
    color: white;
    border: 0;
    border-radius: 3px;
}
.khuyenmai{
    width: 180px;
    height: 61px;
    font-size: 15px;
    border: 1px red solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}





.danhgia h2,
.danhgia_left_bottom h2{
    height: 30px;
    width: 100%;
    margin-top: 5px;
    background-color: white;
    margin-left: 10px;
}
.danhgia_content{
    background-color: white;
}
.danhgia_left_top{
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.danhgia_left_bottom{
    width: 100%;
    height: 270px;
    margin-top: 10px;
    background-color: white;
}
.danhgia_left_bottom h2{
    padding-top: 10px;
}
.danhgia_left_top img{
    height: 358px;
    width: 800px;
}
.soluotbinhluan{
    height: 53px;
    width: 800px;
    background-color: #eaeced;
    border-radius: 5px;
    margin: 10px;
}
.soluotbinhluan h3{
    margin-left: 10px;
    padding-top: 10px;
}
.nhapbinhluan{
    height: 84px;
    width: 779px;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
}
.tinhnangan1{
    display: flex;
    height: 368px;
    width: 100%;
    margin-top: 30px;
}
.tinhnangan2{
    display: flex;
    height: 368px;
    width: 100%;
}
.tinhnangan1 img,
.tinhnangan2 img{
    width: 50%;
}
.content_tinhnang{
    white-space: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 100%;
}
.content_tinhnang_center{
    width: 480px;
    height: 250px;
}








/* ket thuc */





.email_uudai{
    height: 76px;
    width: 1150px;
    background-color: aliceblue;
    display: flex;
}
.email_uudai_left{
    width: 30%;
}
.email_uudai ul{
    list-style: none;
    display: flex;
    padding-left:10px ;
}
.email_uudai ul li{
    margin-top: 17px;
    margin-right: 30px;
}
li .icon_fb-ytb-zl{
    height: 40px;
    display: inline-block;
}
.email_uudai_mid{
   display: flex;
   margin-top: 20px; 
}
.content_email_mid-icon{
    margin-right: 20px;
    font-size: 32px;
    margin-top: -5px;
}
.content_email_mid{
   font-size: 14px;
   margin-top: -4px;
}

.content_email_right{
    height: 76px;
    margin-left: 90px;
    margin-top: 20px;
    display: flex;
}
.content_email_right-input{
    height: 35px;
    width: 300px;
    border-radius: 5px;
}
.content_email_right-input input{
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border:thick;
}
.content_email_right-input input:focus{
    outline: none;
    border: 1px orange solid;
}
.content_email_right-button{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border:thick;
    color:white ;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    background-color: #41B948;
}
.content_email_right-button:focus{
    outline: none;
}
.content_email_right-input div{
    color: red;
    display: none;
}
/* thong tin lien he */
.lienhe{
    width: 100vw;
    background-color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_info{
    height:780px;
    width: 1110px;
    background-color: white;
    display: block;
    border-radius: 15px;
    margin-top: 0px;
}
.contact_info_top{
    width: 1110px;
    height: 243px;
    display: flex;
}
.contact_info_top-title{
    width: 20%;
    background-color: white;
    padding: 20px;
    font-size: 12px;
    height: 200px;
}
.contact_info_top-title li{
    list-style: none;
}
.contact_info_top-title-list{
    padding: 0;
}
.contact_info_top-title-b{
    font-weight: 600;
}
.contact_info_top-title-list li{
    font-weight: 400;
}
.contact_info_bottom{
    height: 560px;
    width: 1110px;
    background-color: white;
}
.contact_info_bottom-top{
    height: 40px;
    width: 1110px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
}
.contact_info_bottom-end{
    width: 1110px;
    height: 520px;
    background-color: white;
    display: flex;
}
.contact_info_bottom-end_list{
    width: 20%;
    height: 520px;
    background-color: white;
}

.list{
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding:5px 10px;
}
.list h2{
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
/* phan quoang cao cuoi trang */
.footer_end{
    height: 250px;
    width: 100vw;
    background-color:white;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}
.footer_end_nav-img{
    background-color: black;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_end_nav-img img{
    width: 120px;
    height: 60px;
    display: inline-block;
}
.footer_end-container{
    height: 80px;
    width: 100vw;
    font-size: 15px;
    margin-top: 9px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.footer_end-container-left{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-mid{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-right{
    width: 360px;
    padding: 0;
    margin: 0;
}
.footer_end-container-mid img,
.footer_end-container-right img{
    height: 37px;
}
.foot-end{
    justify-content: center;
    align-items: center;
}
.content-end{
    display: flex;
    justify-content: center;
    align-items: center;
}






.footer__hotline{
    display: inline-block;
    padding: 0;
    color: #FFFFFF;
    border: 0;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    background-color:#fe0000;
    box-shadow: 0 0 5px #888;
    white-space: nowrap;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.9em;
    z-index: 10;
    text-align: left;
    width: 259px;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 1;
    position: fixed;     
    bottom: 10px;       
    right: 10px;       
    width: 280px;
    height: 80px;
    display: flex;
    padding: 10px;
}
.footer_hotline_left{
    width: 85%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_hotline_right{
    width: 80px;
    height: 80px;  
    display: flex;
    margin-top:-10px;
    margin-right: -10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.footer_hotline_right i{
    font-size: 40px;
    color: #fe0000;
}